In [35]:
# Initialize Otter
import otter
grader = otter.Notebook("dataStructuresSyntax.ipynb")

## Lecture Section

Python has many different variable types and data structures. We will cover 4 variable types, and 4 structures. We will cover:
* The four most common variable types:
    * Integers
    * Floats
    * Strings
    * Booleans
* Converting between the variable types
* Mutability and immutability
* Data structures, including:
    * How to create them
    * What they can consist of
    * How to mutate them (if possible)
    * How to index and access values within them

### Variable Types

Data types are the most basic form of data. They are how the compiler knows how much memory your data needs to be stored. You might think of them as the 'building-blocks' of a programming language.

In Python, there are four primary data types that we will focus on:
- **Integer (`int`)**: Whole numbers (e.g., 1, -10, 42)
- **Float (`float`)**: Decimal numbers (e.g., 3.14, -0.001, 2.0)
- **String (`str`)**: A sequence of characters (e.g., 'hello', "Python", '42')
- **Boolean (`bool`)**: Represents `True` or `False`

Run the following code, and pay attention to the `type` function. We will cover functions in another lecture, but for now, you can use it to check the type of your variable.

In [2]:
integer = 10
floating = 3.14
strings = "hello"
booleans = True
print(type(integer))
print(type(floating))
print(type(strings))
print(type(booleans))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

Strings have a lot of interesting aspects to them. They are the only sequence considered a variable type. You can't place quotation marks inside a string without an escape character `\` unless you use `'`; otherwise, the string will split up! The reverse it true, too.

In [1]:
a_string = "hello, world"
another_string = 'hello, world'
string2 = 'hello, "world"'
string3 = "hello, 'world'"
string4 = 'hello, \'world\''
string5 = "hello, \"world\""
print(a_string) 
print(another_string)
print(string2)
print(string3)
print(string4)
print(string5)

hello, world
hello, world
hello, "world"
hello, 'world'
hello, 'world'
hello, "world"

You can also but a new-line, or a tab.

In [7]:
x = "I am a \n new line"
print(x)
x = "I am a \t tab"
print(x)

I am a
 new line
I am a 	 tab

These are only read with `print()` and will not work if you output `x` without it.

#### Type Conversions: Implicit and Explicit

Python allows implicit (automatic) and explicit (manual) type conversion.

For example, and integer and a float added together will create a float.

In [8]:
type(10 + 5.0)

float

In [9]:
type(10 + 5)

int

There is *no* automatic type conversion for strings. When you try to combine types that aren't compatible, you will get a TypeError.

In [10]:
10 + '12'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

Additionally, when reading in data from outside sources, Python assumes all variables are strings. Unlike R and other programming languages, there is nothing that checks or tests the types of data when it is being read into a script.

Luckily, you can manually convert variables with `int()`, `float()`, `str()`, and `bool()`.

In [12]:
integer = 10
floating = 3.14
strings = "hello"
booleans = True

int_to_float = float(integer)
float_to_int = int(floating)
str_to_int = int(integer)  # Only works if the string is numeric
bool_to_int = int(True)  # True -> 1, False -> 0

print("Explicit Int to Float:", int_to_float, type(int_to_float))
print("Explicit Float to Int:", float_to_int, type(float_to_int))
print("String to Int:", str_to_int, type(str_to_int))
print("Boolean to Int:", bool_to_int, type(bool_to_int))

Explicit Int to Float: 10.0 <class 'float'>
Explicit Float to Int: 3 <class 'int'>
String to Int: 10 <class 'int'>
Boolean to Int: 1 <class 'int'>

There are some properties of types that lead to interesting behaviors we can observe with converting - you may not expect some of them.

Let's start with integers. We can convert strings with whole number characters into an integer. We cannot convert strings with decimal points into an integer - the conversion doesn't know what to do with the decimal!

In [15]:
str_int = int("123")

In [16]:
str_flt = int("123.456")

ValueError: invalid literal for int() with base 10: '123.456'

We can convert both Boolean values to integers, and we can convert all floating point numbers to integers. When we do that, Python truncates the decimal and rounds down to the nearest whole number.

In [17]:
print(int(3.14))
print(int(True))
print(int(False))
print(int(1.99))
print(int(-4.6))

3
1
0
1
-4

Floating conversation have all the same rules, except it *can* convert strings with a single decimal. If you want "1.23" to be an integer, you'd have to convert it to a float, first.

In [18]:
print(float(True))
print(float(False))
print(float(1))
print(float("23"))
print(float("1.23"))

print(int(float('1.23')))

1.0
0.0
1.0
23.0
1.23
1

Strings convert everything to their character sequence.

In [19]:
print(str(True))
print(str(False))
print(str(1))
print(str(23.2))

True
False
1
23.2

Strings can be indexed, with the index starting at 0, and sliced.

In [21]:
my_string = "hello, WORLD"
world = my_string[7:12]
world

'WORLD'

However, strings are immutable, so we cannot directly change them once they are made.

In [22]:
my_string[0] = 'y'

TypeError: 'str' object does not support item assignment

Instead, we need to make a new variable. We can use string slicing and `+` to achieve this!

In [25]:
my_2string = "y" + my_string[1:5] + 'w'  + my_string[5:]
my_2string

'yellow, WORLD'

Notice that the starting index (1) in `my_string[1:5]` is included in our new strings, but the ending index (5) is not. This is always true. Also, if we leave the first index number blank, Python assumes the beginning of the string. If we leave the end blank, like in `my_string[5:]`, the end of the sentence is assumed.

Booleans are interesting:
- All strings are True, unless it is an empty string.
- All numbers are True, unless the number is 0.

In [26]:
#true
print(bool("hello"))
print(bool("False")) # pay attention to this! You cannot convert 'True'                         and 'False' to boolean without more work.
print(bool(1))
print(bool(23.2))
print(bool(-1))

#false
print(bool(""))
print(bool(0))

True
True
True
True
True
False
False

Since `int()`, `float()`, `str()`, and `bool()` are functions which convert variable types, they should never be used as varaible names. You won't get any particular error, but your script may not function as you expect. It's good practice to never name variables `integer`, `str()`, and `bool()`

### Data Structures
Data structures are made of various data types, within certain constraints. We will cover 4, beginning with lists.

#### Lists
- Lists are an **ordered** collections of elements.
- They allow **duplicate** values.
- Lists are **mutable**, meaning we can change, add, or remove elements (and keep the same variable)
- Lists can contain **nested structures**.

To create a list in Python, we can either use the `list()` function, or we can use square brackets `[]`.
Lists can contain any data type, or a mix of them. They can also contain other data structures.

In [1]:
my_list = [10, 3.14, "Python", 42, True]
my_list

[10, 3.14, 'Python', 42, True]

Just like with strings, we can index and slice a list. This time, though, assignment to our list varaible works because it is mutable.

Try different values in the code sample below. Make sure to test a number outside of the range of indices we have available, and observe what happens when you use a negative index.

In [2]:
my_list[0]

10

In [3]:
my_list[-1] # reverses the list

True

In [4]:
my_list[5] # IndexError - there is no value at index 5 in our list!

IndexError: list index out of range

In [5]:
my_list[1] = 7.92
my_list

[10, 7.92, 'Python', 42, True]

If you want to add or remove an element to your list, you can use `.append()` or `.remove()`. In the parenthesis, you should give the element you want removed/added (the item that goes in a function's parentheses is called an `argument`). Both of these functions return None, so don't try to save them to a variable. The variable won't have anything in it!

In [6]:
my_list.append(4)
my_list

[10, 7.92, 'Python', 42, True, 4]

In [7]:
my_list.remove(4)
my_list

[10, 7.92, 'Python', 42, True]

In [8]:
rem = my_list.remove(10) # don't do this!
rem

`.append()` adds a new item. If you want to extend the current list with multiple new items, you can place them in a list and use `.extend()`

In [9]:
my_list.extend([1, 2, 3, 4, 5, 6])
my_list

[7.92, 'Python', 42, True, 1, 2, 3, 4, 5, 6]

If you want to remove an element by index, use can use `.pop()`. If you don't give it an arguement, it will remove the last item in the list (and returns it, if you want it!)

In [10]:
removed_val = my_list.pop()
removed_val

6

In [11]:
my_list

[7.92, 'Python', 42, True, 1, 2, 3, 4, 5]

Finally, we can nest lists. To index further into a list, we just keep indexing. In the list below, the surface indices are 0: 1, 1: 2., 2: 3, 3: [4, 5, 6]. If we want to get to the values inside the nested list, we start the indexing again from 0, with new `[]`. 0: 4, 1: 5, 2: 6.

Let's try to get to '5'

In [12]:
my_list = [1, 2, 3, [4, 5, 6]]
print(my_list[3]) #nested list
print(my_list[3][1]) #5!

[4, 5, 6]
5

#### Sets
Sets are **unordered** collections of unique elements.
- They do **not allow duplicates**.
- They are immutable
- They allow many data types, including a mixture.

To create a set, we `set()`, or we use `{}`

In [13]:
my_set = {10, 3.14, "Python", 42, 10, True}  # The duplicate 10 is ignored
my_set

{10, 3.14, 42, 'Python', True}

We use `.add()` and `.remove()` to add or remove data.

In [14]:
my_set.add("5")
my_set

{10, 3.14, 42, '5', 'Python', True}

In [15]:
my_set.remove("5")
my_set

{10, 3.14, 42, 'Python', True}

Sets also allow set operations!

In [16]:
another_set = {42, "Python", "New Value"}
print("Union:", my_set | another_set)
print("Intersection:", my_set & another_set)
print("Difference:", my_set - another_set)

Union: {'New Value', True, 3.14, 10, 42, 'Python'}
Intersection: {42, 'Python'}
Difference: {True, 10, 3.14}

You cannot index a set, because it is unordered

In [17]:
my_set[0]

TypeError: 'set' object is not subscriptable

#### Tuples
Tuples are just like lists, but they are immutable.
- Tuples are ordered
- Tuples are immutable

We make a tuple by calling `tuple()` or by using `()`.

In [18]:
my_tuple = (10, 3.14, "Python", 42, False)
print("Tuple:", my_tuple)

Tuple: (10, 3.14, 'Python', 42, False)

In [19]:
my_tuple[1] = 4 # it is immutable!

TypeError: 'tuple' object does not support item assignment

We can still change mutable structures that exist within a tuple, though.

In [20]:
my_tuple = ([1,2,3], 3, 4, 5)
my_tuple[0][1] = 5
my_tuple

([1, 5, 3], 3, 4, 5)

#### Dictionaries
Dictionaries store key/value pairs
- Keys must be unique (no duplicates) and immutable.
- Values can be of any type.

We make a dictionary by calling `dict()` or by using `{:}`.

In [21]:
my_dict = {"name": "Alice", "age": 25, "height": 5.5, "is_student": True}
my_dict

{'name': 'Alice', 'age': 25, 'height': 5.5, 'is_student': True}

We access the contents by indexing with the key value.

We can add new values by indexing with an assignment operator, and we remove by using the `del` operator.

In [22]:
my_dict["name"]

'Alice'

In [23]:
my_dict["gender"] = "female"
my_dict

{'name': 'Alice',
 'age': 25,
 'height': 5.5,
 'is_student': True,
 'gender': 'female'}

In [24]:
del my_dict["height"] # this deletion also works for lists!

If you try to add to a dictionary, and the key already exists, it will be overwritten.

In [25]:
my_dict['name']='Skylar'
my_dict

{'name': 'Skylar', 'age': 25, 'is_student': True, 'gender': 'female'}

Finally, we can nest dictionaries, just like our other structures!

In [26]:
my_dict = {"name": "Alice", "age": 25, "height": 5.5, "is_student": True, "grades": {"Math": 90, "Science": 85}}
my_dict['grades']['Math']

90

The types and structures covered here are not all-inclusive - there are many more. The ones covered today are the most common, but you may come across another at some point. Please take a few minutes to view the other types at the link below - you'll need to  for your assignment!

https://www.geeksforgeeks.org/difference-between-data-type-and-data-structure/

## Assignment Section

**Question 1.** Create a list of numbers from 0 to 9 and save them in a variable called `my_list`, then do the following actions in order:
- Append two double-digit numbers to your list
- Remove your least favorite single-digit number
- Replace index 2 with your first name.

In [47]:
my_list1 = list(range(10))

In [48]:
my_list1.extend([23, 25])

In [49]:
my_list1.remove(0)

In [50]:
my_list1[2] = "Andrews"
my_list

[1, 2, 'Andrews', 4, 5, 6, 7, 8, 9, 23, 25]

In [51]:
grader.check("q1")

q1 results: All test cases passed!

**Question 2.** Create a list called `my_list` that contains a tuple, an integer, a dictionary, a set, and another list (in that order). The other data structures and variables can consist of whatever you would like.

In [52]:
my_list2 = [(0,1,"stats"), 100, {'course': 'STT-890', 'mode': 'virtual', 'Grade': 90}, {'good', 'better', 99.99}, [-1,1,3]]
my_list2

[(0, 1, 'stats'),
 100,
 {'course': 'STT-890', 'mode': 'virtual', 'Grade': 90},
 {99.99, 'better', 'good'},
 [-1, 1, 3]]

In [53]:
grader.check("q2")

q2 results: All test cases passed!

**Question 3.** Create a dictionary called `my_dict` about your favorite movie actor/actress. The keys and value types you should include are:
- name: string
- movies: list of strings
- age: int
- height: float
- children: dictionary - name (string): age (int)

If the actor/actress does not have children, leave the dictionary empty.

In [85]:
my_dict3 = {'name': 'Denzel Washington', 'movies': ['Equalizer','Safe House'], 'age': 71 , 'height': 6.1 , 'children': {'John David Washington': 41}}
my_dict3

{'name': 'Denzel Washington',
 'movies': ['Equalizer', 'Safe House'],
 'age': 71,
 'height': 6.1,
 'children': {'John David Washington': 41}}

In [87]:
grader.check("q3")

q3 results: All test cases passed!

---

To double-check your work, the cell below will rerun all of the autograder tests.

In [88]:
grader.check_all()

q1 results: All test cases passed!

q2 results: All test cases passed!

q3 results: All test cases passed!